* pycharm
*.DS_Store
*.orig
*.py[cod]
*.sqlite
*.sqlite3
*__pycache__*
*egg-info*
.coverage
.env*
.env_python*
.idea/*
.ropeproject
.vagrant
.venv*
__pycache__/
build/*
BUILDROOT
chardet*.gz
coverage.xml
dist/*
docs/build/
idna*.gz
node_modules
output.log
package.json
pep8.out
requests*.gz
RPMS
SOURCES
test_results.xml
tmp.json
urllib*.gz
yarn-error.log
yarn.lock
**/_version.py
