@import "tailwindcss" source(none);
@import "./line-awesome.css";
@import "./overrides.css";

@source "../../templates/*.html";
@source "../../templates/**/*.html";
@source "../../templates/**/**/*.html";
@source "../../templates/**/**/**/*.html";
@source "../../templates/**/**/**/**/*.html";
