{% extends "core.html" %}
{% load static %}
{% block head-extra %}{{ form.media }}{% endblock %}
{% block body %}
    <main class="px-5 py-3 w-full max-w-(--breakpoint-lg)">
        {% include 'partial/form.html' with hx_target='#member-list' hx_swap='innerHTML' %}
        <search-results id="member-list" class="mb-3">
            {% include 'partial/member-list.html' with member_list=member_list initial=initial %}
        </search-results>
    </main>
{% endblock body %}
{% block extra-scripts %}
    {% if REQUEST_LOCATION %}
        <form id="location-form-ephemeral"
              class="hidden"
              hx-post="{% url 'set-location' %}"
              hx-trigger="locationset"
              class="none"
              hx-swap="outerHTML">
            <input type="text" name="latitude" id="location-form-latitude">
            <input type="text" name="longitude" id="location-form-longitude">
        </form>
        <script>
document.addEventListener('DOMContentLoaded', (event) => {

  var lat_input = document.getElementById("location-form-latitude");
  var lon_input = document.getElementById("location-form-longitude");
  var form = document.getElementById("location-form-ephemeral");
  const newEvent = new Event("locationset");

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var lat = position.coords.latitude;
      var lng = position.coords.longitude;
      lat_input.value = lat;
      lon_input.value = lng;
      console.log("Set " + lat_input.value + ", " + lon_input.value);
      form.dispatchEvent(newEvent);
    }, function(error) {
      showErr();
    });
  }

})
        </script>
    {% endif %}
{% endblock extra-scripts %}
