{% extends 'core.html' %}
{% block body %}
    <main class="container px-3 py-3 w-full max-w-3xl md:flex no-wrap md:-mx-2">
        <div class="w-full md:w-9/12 mx-2 h-64 ml-auto mr-auto">
            <div class="flex flex-wrap justify-items-stretch gap-2 mb-2">
                {% include 'partial/buttons/link.html' with button_text='Change Password' link_url=change_password_link la_icon='las la-key' extra_classes='flex-auto' %}
                {% include 'partial/buttons/link.html' with button_text='Edit Profile' link_url=edit_profile_link la_icon='las la-edit' extra_classes='flex-auto' %}
                {% include 'partial/buttons/href.html' with button_text='Add Location' link_url=add_location_link la_icon='las la-map-marked' extra_classes='flex-auto' %}
            </div>
            <div class="border-solid border-b border-t-4 border-emerald-500 text-emerald-700 px-4 py-3">
                <div class="text-gray-700">
                    <div class="grid md:grid-cols-2 text-sm">
                        <div class="grid grid-cols-2">
                            <div class="px-4 py-2 font-semibold hover:text-emerald-800">First Name</div>
                            <div class="px-4 py-2">{{ user.first_name }}</div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="px-4 py-2 font-semibold hover:text-emerald-800">Last Name</div>
                            <div class="px-4 py-2">{{ user.last_name }}</div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="px-4 py-2 font-semibold hover:text-emerald-800">Username</div>
                            <div class="px-4 py-2">{{ user.username }}</div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="px-4 py-2 font-semibold hover:text-emerald-800">Email</div>
                            <div class="px-4 py-2">
                                {% if user.email %}
                                    <a class="text-emerald-800" href="mailto:{{ user.email }}">{{ user.email }}</a>
                                {% else %}
                                    (not set)
                                {% endif %}
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="px-4 py-2 font-semibold hover:text-emerald-800">Joined</div>
                            <div class="px-4 py-2">{{ user.date_joined|date }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="mt-4 p-3 border-solid border-b border-t-4 border-emerald-500 text-emerald-700 px-4 py-3">
                <div class="grid grid-cols-2">
                    <div>
                        <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3 hover:text-emerald-800">
                            <i class="las la-book" aria-hidden="true"></i>
                            <span class="tracking-wide">Circles</span>
                        </div>
                        <ul class="list-inside space-y-2">
                            {% for circle in user.circles %}
                                <li>
                                    <div class="text-gray-900">{{ circle.display_name }}</div>
                                    <div class="text-gray-500 text-xs" title="{{ circle.summary_simple|truncatechars:256 }}">
                                        {{ circle.summary_simple|truncatechars:32 }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>-->
            <div class="mt-4 p-3 border-solid border-b border-t-4 border-emerald-500 text-emerald-700 px-4 py-3">
                <div class="grid grid-cols-2">
                    <div>
                        <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3 hover:text-emerald-800">
                            <i class="las la-book" aria-hidden="true"></i>
                            <span class="tracking-wide">Locations</span>
                        </div>
                        <div class="grid grid-cols-2">
                            {% for location in user.location_set.all %}
                                <div class="px-4 py-2 font-semibold hover:text-emerald-800 cursor-pointer"
                                     title="{{ location.display_name }}">{{ location.name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock body %}
